{% extends "base.html" %}
{% load mezzanine_tags keyword_tags %}
{% load pages_tags %}
{% load i18n %}
{% block header_text %}{% trans 'EUROBOT' %}{% endblock %}
{% block meta_title %}{{ page.meta_title }}{% endblock %}
{% block title %}{% trans 'Rounds' %} - {{ tournament.name }}{% endblock %}

{% block main %}

{% load i18n %}
{% editable page.tournamentrounds.content %}
{{ page.tournamentrounds.content|richtext_filters|safe }}
{% endeditable %}

{% if elimination_info %}
<h2>{% trans 'Elimination rounds' %}</h2>
{% for elimination in elimination_info %}
<h2>{{ elimination.name }}, {{ elimination.game_date | date:"j. F, Y. G:i" }}</h2>
<table class="table">
  <tr>	
    <th>{% trans 'Teams' %}</th>
    <th>{% trans 'G1' %}</th>
    <th>{% trans 'G2' %}</th>
    <th>{% trans 'G3' %}</th>    
  </tr>
  <tr>	
    {% if elimination.player_wins %}
    <td><b><i>{{ elimination.player }}</i></b></td>
    {% else %}
    <td>{{ elimination.player }}</td>
    {% endif %}
    {% if elimination.player_score_0 > elimination.opponent_score_0 %}
    <td style="background-color:rgb(173, 208, 228)"><b><i>{{ elimination.player_score_0 }}</i></b></td>
    {% else %}
    <td style="background-color:rgb(173, 208, 228)">{{ elimination.player_score_0 }}</td>
    {% endif %}

    {% if elimination.player_score_1 > elimination.opponent_score_1 %}
    <td style="background-color:rgb(226, 223, 182)"><b><i>{{ elimination.player_score_1 }}</i></b></td>
    {% else %}
    <td style="background-color:rgb(226, 223, 182)">{{ elimination.player_score_1 }}</td>
    {% endif %}

    {% if elimination.player_score_2 > elimination.opponent_score_2 %}
    <td style="background-color:rgb(173, 208, 228)"><b><i>{{ elimination.player_score_2 }}</i></b></td>
    {% else %}
    <td style="background-color:rgb(173, 208, 228)">{{ elimination.player_score_2 }}</td>
    {% endif %}
    
  </tr>
  <tr>	
    {% if elimination.opponent_wins %}
    <td><b><i>{{ elimination.opponent }}</i></b></td>
    {% else %}
    <td>{{ elimination.opponent }}</td>
    {% endif %}
    {% if elimination.player_score_0 < elimination.opponent_score_0 %}
    <td style="background-color:rgb(226, 223, 182)"><b><i>{{ elimination.opponent_score_0 }}</i></b></td>
    {% else %}
    <td style="background-color:rgb(226, 223, 182)">{{ elimination.opponent_score_0 }}</td>
    {% endif %}

    {% if elimination.player_score_1 < elimination.opponent_score_1 %}
    <td style="background-color:rgb(173, 208, 228)"><b><i>{{ elimination.opponent_score_1 }}</i></b></td>
    {% else %}
    <td style="background-color:rgb(173, 208, 228)">{{ elimination.opponent_score_1 }}</td>
    {% endif %}

    {% if elimination.player_score_2 < elimination.opponent_score_2 %}
    <td style="background-color:rgb(226, 223, 182)"><b><i>{{ elimination.opponent_score_2 }}</i></b></td>
    {% else %}
    <td style="background-color:rgb(226, 223, 182)">{{ elimination.opponent_score_2 }}</td>
    {% endif %}
  </tr>
</table>  
{% endfor %}
{% endif %}
{% if rounds_info %}
	{% for round_info in rounds_info %}
	<h2>{{ round_info.round.name }}, {{ round_info.round.round_date | date:"j. F, Y. G:i" }}</h2>
	<table class="table">
		<tr>	
			<th>{% trans 'Name' %}</th>
			<th>{% trans 'Score' %}</th>
			<th>{% trans 'Name' %}</th>
			<th>{% trans 'Status' %}</th>
		</tr>
	{% for game in round_info.games %}
		  <tr>
		  	{% if game.game.player_color == 'W' %}		  	
			    <td class="col-md-4"  style="background-color:rgb(173, 208, 228)">{{ game.player }}{% if game.game.player_dummy  %} - {% trans 'Dummy' %}{% endif %}</td>
			    {% if game.game.status == 'planned' %}
			    	<td class="col-md-2">-</td>
			    {% else %}
			    	<td class="col-md-2">{{ game.game.player_score }} : {{ game.game.opponent_score }}</td>
			    {% endif %}
			    <td class="col-md-4" style="background-color:rgb(226, 223, 182)">{{ game.opponent }}{% if game.game.opponent_dummy  %} - {% trans 'Dummy' %}{% endif %}</td>			    
		    {% else %}			    
			    <td class="col-md-4" style="background-color:rgb(173, 208, 228)">{{ game.opponent }}{% if game.game.opponent_dummy  %} - {% trans 'Dummy' %}{% endif %}</td>
			    {% if game.game.status == 'planned' %}
			    	<td class="col-md-2">-</td>
			    {% else %}
			    	<td class="col-md-2">{{ game.game.opponent_score }} : {{ game.game.player_score }}</td>
			    {% endif %}
			    <td class="col-md-4" style="background-color:rgb(226, 223, 182)">{{ game.player }}{% if game.game.player_dummy  %} - {% trans 'Dummy' %}{% endif %}</td>
          {% endif %}
          <td>{% trans game.game.status|capfirst %}</td>
		  </tr>
	{% endfor %}
	</table>
	
	{% endfor %}
{% else %}
	<h2>{% trans 'No rounds have been setup.' %}</h2>
{% endif %}

{% endblock %}
